.idea
/views/workspace/__pycache__
/views/components/__pycache__
/utils/__pycache__
/models/__pycache__
/utils/__pycache__
/views/components/__pycache__
/views/windows/__pycache__
/views/workspace/__pycache__
