.idea
/views/workspace/__pycache__
/views/components/__pycache__
/utils/__pycache__
/models/__pycache__
/utils/__pycache__
/views/components/__pycache__
/views/windows/__pycache__
/views/workspace/__pycache__
/views/menu/__pycache__
/views/sidebar/__pycache__
/database/__pycache__
/views/__pycache__
/views/workspace/containers/__pycache__
/views/windows/register/__pycache__
/dist/main/main.exe
/dist
/build
main.spec
